
body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color:#ceeece;
}


.App {
  text-align: center;
}

.mobile-container {
  height: 100vh;
  width: 100%;
}

.grid-container {
  display: grid;
  position: absolute;
  overflow: clip;
  top: 0;
  height: 100vh;
  width:100%;
  grid-template-columns: 0.9fr 0.8fr;
  grid-template-rows: 1.5fr 2fr;
  gap: 0px 5px;
  grid-template-areas:
  "map image"
  "map info";
}

.progress{
  z-index: 2;
  position: fixed;
  top: 0;
}

.grid-container .info {
  font-size: 18px;
  height: 47vh;
  width: 98%;
  bottom:10px;
  left:1%;
  overflow-y: scroll;
  position: absolute;
}

.grid-container .carousel {
  grid-area: image; 
  overflow: hidden;
  text-align: center;
  top:13px;
  height: 50vh;
  width: 97%;
  border-radius:20px;
  margin:auto;
}

.grid-container .carousel img {
  max-width: 110%;
  height: 50vh;  
}

.grid-container .map{
  width: 200%;
}

.header {
  grid-area: header;
  text-shadow: 2px 2px black;
  color: aliceblue;
  /* box-shadow: 0px 3px aliceblue; */
}

.placeHeader {
  grid-area: place;
  text-shadow: 2px 2px rgb(139, 149, 146);
  text-align: center;
  padding: 10px;
}

.map {
  grid-area: map; 
  height: 100vh;
  overflow-y: hidden;
}

.help  {
  grid-area: map; 
  width: 300px;
  /* height: 300px; */
  /* position: absolute;  */
  margin: auto;
  z-index: 2;
  border-radius: 20px; 
  background-color: #fff;
  color: black;
  padding: 12px;
  /* box-shadow: 10px 10px 40px #777; */
  box-shadow: 3px 3px 20px 3px #888;
}

.btn-help {
  grid-area: map;
  width: 50px;
  height: 50px;
  margin: 10px 0 0 auto;
  z-index: 1;
  color: #23408f; 

}

.mobile-container .btn-help {
  position: fixed !important;
  top: 5px;
  right: 0px;
}

.mobile-container .help {
  position: fixed !important;
  width:95%;
  margin-left: 2.5%;
  
  top: 150px;
}

.reward {
  width: 96%;
  height: 96%;
  padding: 30% 0;
  top:2%;
  left:2%;
  position: absolute;
  text-align: center;
  z-index: 10;
  background-image: url('./reward.gif');  
}

.reward .MuiIconButton-root{
  position: absolute;
  font-size: 50px;
  top: 0;
  right: 0;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.reward h1{
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.introduction{
  grid-area: map;
  z-index: 2;
  padding-left: 10px;
}

h1{
  padding-left: 10px;
}
.text {
  padding: 10px;
}

.mobile-overlay{
  z-index: 1;
}

.overlayContent {
  height: 98vh;
}

.overlayContent .info {
  height: 58vh;
  margin:0px;
  top: 5px;
  left: 0;
  overflow: hidden;
  overflow-y:scroll;
}

.overlayContent .carousel {
  height:40vh;
  overflow: hidden;
  text-align: center;
}

.overlayContent .carousel img {
  height:40vh;
}

.overlayContent h2{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bolder;
}

.tab-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  margin: 1em;
  white-space: pre-wrap; /* make use of whitespace characters in text */
}

.overlayContent .tab-content {
  padding : 5px;
  margin: 0;
}

.info {
  grid-area: info;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 2;
  border-radius: 20px; 
  background-color: #fff;
  color: black;
  padding: 12px;
  box-shadow: 3px 3px 20px 3px #888;
}

.CarouselItem img{
  border-radius: 5px;
}