
body{
  width: 100%;
  height:1vh;
  overflow: hidden;
  background-color:#ceeece;
}


.App {
  text-align: center;
}

.mobile-container {
  height: 100vh;
  width: 100%;
}

.grid-container {
  display: grid;
  position: absolute;
  height: 100%;
  width:100%;
  grid-template-columns: 0.9fr 0.8fr;
  grid-template-rows: 1.5fr 2fr;
  gap: 0px 5px;
  grid-template-areas:
  "map place"
  "map image"
  "map info";
}

.grid-container .info {
  font-size: 18px;
  height: 90%;
  width: 95%;
}

.tab-content{
  margin: 1em;
  white-space: pre-wrap; /* make use of whitespace characters in text */
}

.grid-container .carousel {
  grid-area: image; 
  overflow: hidden;
  text-align: center;
  height: 50vh;
}

.grid-container .carousel img {
  max-width: 110%;
  height: 50vh;  
}

.header {
  grid-area: header;
  text-shadow: 2px 2px black;
  color: aliceblue;
  /* box-shadow: 0px 3px aliceblue; */
}

.placeHeader {
  grid-area: place;
  text-shadow: 2px 2px rgb(139, 149, 146);
  text-align: center;
  padding: 10px;
}

.map {
  grid-area: map; 
  height: 100vh;
  overflow-y: hidden;
}

.help  {
  grid-area: map; 
  width: 300px;
  /* height: 300px; */
  /* position: absolute;  */
  margin: auto;
  z-index: 2;
  border-radius: 20px; 
  background-color: #fff;
  color: black;
  padding: 12px;
  /* box-shadow: 10px 10px 40px #777; */
  box-shadow: 3px 3px 20px 3px #888;
}

.btn-help {
  grid-area: map;
  width: 50px;
  height: 50px;
  margin: 10px 0 0 auto;
  z-index: 1;
  color: #23408f; 

}


.introduction{
  grid-area: map;
  padding-left: 10px;
}

h1{
  padding-left: 10px;
}
.text {
  padding: 10px;
}

.mobile-overlay{
  z-index: 1;
}

.overlayContent {
  height: 98vh;
}

.overlayContent .info {
  height: 45vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

.overlayContent .carousel {
  height:40vh;
  overflow: hidden;
  text-align: center;
}

.overlayContent .carousel img {
  height:40vh;
}

.overlayContent h2{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bolder;
}

.tab-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  height:100%;
  overflow-y:scroll;
}


.info {
  grid-area: info;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 2;
  border-radius: 20px; 
  background-color: #fff;
  color: black;
  padding: 12px;
  background-color: white;
  /* box-shadow: 10px 10px 40px #777; */
  box-shadow: 3px 3px 20px 3px #888;
  overflow: hidden;
}

.CarouselItem img{
  border-radius: 5px;
}