
body {
  background-image: url("bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width:100%;
}

.App {
  text-align: center;
}

.Card {
  opacity: 0.9;
  border-radius: 50px;
  width: 100%;
  height: 900px;
  text-align: center;
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.75fr 1fr;
  gap: 5px 20px;
  grid-template-areas:
    "map picture"
    "map info";
}


.grid-container .map{
  height: 91%;
  grid-area: map;
  border-radius: 50px;
}


.grid-container .picture {
  grid-area: picture;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  min-width: 100%;
  min-height: 100%
}

.grid-container .info {
  grid-area: info;
  height: 100%;
}

